<section class="phx-hero">
  <h1><%= gettext "Welcome", name: "Phoenix" %></h1>
  <p>A productive web framework that<br/>does not compromise speed and maintainability.</p>

  <%= live_render(@conn, TweetyodelLiveWeb.Tweetyodel) %>
</section>
